<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>
<br />
  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>
 <br />
  <div class="actions">
  <% if list.new_record? %>
    <%= form.submit "Create", class: "btn btn-primary"%>
  <% else %>
    <%= form.submit "Update", class: "btn btn-primary"%> |
    <%= link_to 'Delete',  list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> 
  <% end %>
  </div>
<% end %>
